.main-about { 
    display: flex;
    flex-direction: column;
}


/* HTML ändringar


aboutLanding -> about-hero

About -> about

aboutHeader -> about-header

aboutText -> about-content


Contact -> contact

form-group -> form-item

contact-info-container -> info-container

contact-info -> info-container-content


body {
min-height: 100vh;
display: flex;
flex-direction: column;
}


Flyttat runt css och isolerat kontaktform till en egen komponent

TODO

1 Lägga till responsiva biten

2 ändra värden från px

3 sätta max bildstorlek?

4 Mer line height?

5 Kontaktform font + färg på hålltext?


*/

/* ... Bakgrund ... */

.about-hero {
    height: 85vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ... Text ... */

.about {
    background: black;
    display:  inline-block;
    padding: 5%;
}

.about-header h1 {
    max-width: 37ch;
    color: white;
    text-decoration: none;
    /*font-size: 4rem;*/
}

.about-header h1 span {
    color: red;
}

.about-content {
    padding-top: 200px;
}

.about-content p {
    max-width: 65%; 
    color: white; 
    margin-bottom: 1rem;
}


/* ... Kontakt-sektion ... */

.contact-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 8rem;
    margin: 0 auto;
    background: #000;
    min-height: 100vh;
}

.info-container {
    flex-direction: column-reverse;
    padding-left: 0;
    display: flex;
    flex: 1;     
    align-items: center;
    position: relative;
}

.vertical-line {
    display: none;
}

.info-container-content {
    flex: 1;
    text-align: center;
    padding-right: 0;
    margin-top: 2rem;
}

.info-container-content h2 {
    color: white;
}

.info-container-content p {
    color: rgba(255, 255, 255, 0.8);
    margin-right: auto; /* max width */
}

/* ... Profilbild ... */

.profile-image {
    flex: 0.8;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    display: block;
    margin: auto;
}

@media (min-width: 48em) {
    .contact-container {
        flex-direction: row;
        padding: 5%;  
        gap: 1rem;
    }

    .info-container {
        padding-left: 20px;
    }

    .vertical-line {
        position: absolute;
        display: flex;
        flex: 1;
        right: 0%;
        top: 50%;
        transform: translateY(-50%);
        width: 1.5px;
        height: 200px;
        background-color: #fff;
    }

    .info-container-content {
        text-align: right;
        padding-right: 20px;
    }
}