.main-about {
    display: flex;
    flex-direction: column;
}


/* HTML ändringar


aboutLanding -> about-hero

About -> about

aboutHeader -> about-header

aboutText -> about-content


Contact -> contact

form-group -> form-item

contact-info-container -> info-container

contact-info -> info-container-content


body {
min-height: 100vh;
display: flex;
flex-direction: column;
}

*/

.about-hero { /* Hero css */
    height: 85vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}