.section-one {
    display: flex;
    flex-direction: column;
    gap: 10em;
    overflow: hidden;
}

/*
.one-container {
    max-width: 100%;
    overflow: hidden;
}*/
/*
.one-container-image {
    overflow: hidden;
    width: 100%;
   
}*/

.one-container-image__image {
    object-fit: cover;
    object-position: center;

}

.one-container-content {
    margin-top: 2em;
    color: white;
    padding: var(--edge-pd);
    font-size: var(--fs-body);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 48em) {
    .section-one {
        display: flex; /* 1 Det här sätter sektionen till flex */
        justify-content: center; /* 2 Det här centrerar all content i sektionen vågrätt */
        align-items: center; /* 3 Det här centrerar all content i sektionen lodrätt */
        /*height: 40em; *//* Det här gör att sektionen tar upp hela skärmen [bla för demonstration] */
        /* width: 100%; *//* Det här gör att sektionen tar upp hela skärmen [bla för demonstration] */
        overflow: hidden;
    }

    .one-container { /* Denna container håller allt vi kommer ha i sektionenen */
        display: flex; /* Sätter flex på sektionen för att rada upp både bild och text brevid varandra */
        flex-direction: row; /* Behövs egentligen inte då det är standardvalue men för tydlighetens skull */
        padding: var(--edge-pd);
        /*padding: 10em 10em;*//* TOP/BOTTOM, LEFT/RIGHT. Sätter padding på båda sidorna av containern */
        gap: 2em; /* Sätter ett mellanrum mellan de olika divvarna i containern, alltså ett mellanrum mellan bild & text */
        height: 40em;
    }

    .one-container-image { /* Containern som bilden hålls innuti */
        flex: 1; /* Då paragrafen har en redan definierad max vidd sätter vi bilden till att ta upp mer plats */
        object-fit: cover;
        object-position: center;
        padding: 0;
    }

    .one-container-content { /* Den här containern håller texten, P */
        flex: 1; /* Den här går tillbaka till display flex i .one-container, Ger texten ~33% av utrymmet */
        justify-content: center;
        margin-top: 0;
    }

}

@media (min-width: 64em) {
    .one-container-content {
        gap: 1.5em;
    }
}

@media (min-width: 80em) {
    .one-container-image__image {
        object-position: bottom;
    }

    .one-container-content {
        gap: 2em;
    }
}

@media (min-width: 96em) {
    .one-container-content {
        gap: 2.5em;
    }
}

@media (min-width: 112em) {
    .one-container-content {
        gap: 3em;
    }
}

@media (min-width: 128em) {
    .one-container-content {
        gap: 3.5em;
    }
}

@media (min-width: 144em) {
    .one-container-content {
        gap: 4em;
    }
}

@media (min-width: 160em) {
    .one-container-content {
        gap: 4.5em;
    }
}

/*
TODO

sektionen behöver begränsas i width & height. 

edge padding över 48em behöver vara mer

kanske en max width på sektionen?


*/

.image2 {
    padding: var(--edge-pd);
    height: 40em;
    width: 100%;
}

.image2 img {
    object-position: 50% 75%;
    object-fit: cover;
}



/* Sektion scroll */

.scroll {
    padding: var(--edge-pd);
    height: 300vh;
    width: 100%;
}

.scroll-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 30em;
    height: 100%;
}

.scroll-container-image {
    flex: 1;
    height: 150vh;
}

.scroll-container-image img {
    aspect-ratio: 1/1;
    height: 20em;
    object-fit: contain;
    position: sticky;
    top: 6em;
}

.scroll-container-content {
    flex: 1; 
    position: sticky;
    top: 2em;
    color: var(--clr-secondary);
    text-align: center;
}





/*
.scroll {
    padding: var(--edge-pd);
    height: 40em;
    width: 100%;
}

.scroll-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
}

.scroll-container-image {
    flex: 1;
}

.scroll-container-content {
    flex: 1;
}

*/

.empty {
    height: 100vh;
    background-color: blue;
}